body {
 height: 100vh;
 background: url(66bg.JPG) no-repeat;
 background-size: cover;
 background-position: center;
 background-repeat: repeat-y;
}
table, th, td {
border: 1px solid rgb(163, 160, 160);
border-collapse: collapse;
}  
th, td {
padding: 5px;
text-align: left;
}
th {
    font-size: 17px;
}
a button {
padding: 10px 15 px;
background: lightcoral;
border: none;
color: #000;
}
table {
margin-top: 50px;
margin-bottom: 50px;
}
caption {
font-size: 120%;
font-weight: bold;
text-align: left;
margin-bottom: 10px;
}
.table-container {
    position: relative;
    width: 950px;
}
.table-container::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(66bg.JPG) no-repeat center center;
filter: blur(5px);
}
table {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

